VITE_GOOGLE_CLIENT_ID=
VITE_SUPER_ADMIN_EMAIL=
VITE_DATA_STORAGE=localStorage

# Wymagane dla VITE_DATA_STORAGE=firestore
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
